<h1>Listing meshes</h1>

<table>
  <tr>
    <th>Shape set</th>
    <th>Mesh id</th>
    <th>Mesh data id</th>
  </tr>

<% @meshes.each do |mesh| @mesh = mesh%>
  <tr>
    <td><%= (mesh.back_shape or mesh.front_shape).shape_set.name if mesh.back_shape or mesh.front_shape %>&nbsp;</td>
    <td><%= mesh.id %></td>
    <td><%= mesh.mesh_data_id %></td>
  </tr>
<% end %>
</table>
