nav#admin_nav {
	background-color: #dedede;
	border-radius: 12px;
	margin: 8px;
	padding-left: 10px;
	padding-right: 10px;
}

nav#admin_nav a {
	padding: 5px 10px;
	display: inline-block;
	width: auto;
	height: 20px;
	font-size: 1.05em;
	text-decoration: none;
}

nav#admin_nav a:hover {
	background-color: #0a5ea5;
	color: white;
}

h3 {
	margin: 5px;
}