#header {
	background: #303030 url(/assets/blackbar.png) repeat-x;
	height: 3.3em;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;
	width: auto;
}

#page_h {
	font-size: 3.5em;
	padding-top: 10px;
	color: #fffeff;
	text-shadow: #b4b3b4 -1px -1px 0;
	height: auto;
	text-indent: 10px;
}

#alpha {
	font-size: 0.9em;
	padding-left: 380px;
	vertical-align: top;
	color: #fffeff;
	//text-shadow: #b4b3b4 -1px -1px 0;  
}

#content {
	padding-top: 50px;
}

#vis_content {
	overflow: auto;
	position: fixed;
	top: 50px;
	left: 0;
	bottom: 0;
}

#svg_labels_paper {
	z-index: 2;
	position: absolute;
}

#vis_controls {
	margin: auto 10px 0;
	padding: 5px 10px;
	background-color: #e7e7e7;
	border-top-left-radius: 10px 10px;
	border-top-right-radius: 10px 10px;
	border-bottom-left-radius: 10px 10px;
	border-bottom-right-radius: 10px 10px;
	height: auto;
	width: auto;
}

#controls_title {
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1.8em;
}

#sup_content {
	overflow: auto;
	position: fixed;
	left: 650px;
	height: 100%;
	right: 10px;
	bottom: 0;
	top: 50px;
	min-width: 590px;
}

#sup_content iframe {
	width: 100%;
	height: 100%;
}

#debug {
	position: absolute;
	left: 650px;
	top: 50px;
}

