<%= link_to image_tag("/assets/github2.png", 
                      :alt => "Follow this project on github",
                      :height => 14),
            "https://github.com/gnatters/neuroanatomist", 
            :title => "Follow this project on github",
            :id => "github_link",
            :target => :blank %>

<span class="copyright"> © 2012 Nat Noordanus</span>