<% content_for :sub_header do %>
  <nav id="ontology_nav">
    <%= link_to "Types", "/ontology/types" %>
    <%= link_to "Things", "/ontology/things" %>
    <%= link_to "Relations", "/ontology/relations" %>
    <%= link_to "Facts", "/ontology/facts" %>
  </nav>
<% end %>
