<!DOCTYPE html>
<html>
<head>
  <title>Neuroanatomist</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>


<div id="tooltip">
  <div id"ttlabel"></div>
  <div id"ttinfo"></div>
  <div id="ttmenu"></div>>
</div>
</body>
</html>
